/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'rubikmedium';
    src: url(fonts/rubik-medium-webfont.woff2) format('woff2'),
         url(fonts/rubik-medium-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@media(max-width:768px){

    .box{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
    }

    nav .hamburger{
        display: block;
    }

    nav .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    nav .hamburger.active .bar:nth-child(1){
        transform: translateY(13px) rotate(45deg);
    }

    nav .hamburger.active .bar:nth-child(3){
        transform: translateY(-13px) rotate(-45deg);
    }

    .option{
        position: fixed;
        top: -100%;
        gap: 0;
        flex-direction: column;
        background-color: #497174;
        width: 100%;
        text-align: center;
        transition: 0.5s;
    }

    .option li{
        width: 100%;
        height: 60px;
        line-height: 60px;
    }

    .option.active{
        top: 50px;
    }

    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        font-size: 50px;
        min-height: 85vh;
    }

    .desc{
        text-align: center;
    }

    body .modal{
        min-width: 300px;
        min-height: 150px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -150px; /* Negative half of height. */
        margin-left: -150px; /* Negative half of width. */
        background-color: white;
        border-radius: 10px;
        z-index: 100;
        text-align: center;
        overflow-wrap: normal;
    }

    body .modal.update{
        min-width: 300px;
        min-height: 150px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -300px; /* Negative half of height. */
        margin-left: -150px; /* Negative half of width. */
        background-color: white;
        border-radius: 10px;
        z-index: 100;
        text-align: left;
        overflow-wrap: normal;
    }

    body .modal h2{
        margin: 10px auto;
        width: 200px;
    }
}

html{
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 50px;
}

.history::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
.history::-webkit-scrollbar-thumb {
    background-color: #fff;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 0px ;  /* creates padding around scroll thumb */
  }

body{
    font : 18px/36px 'rubikmedium', 'Arial Narrow', sans-serif; 
    background-color: #C2DED1;  
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #497174;
    width: 100%;
    color: #000;
    z-index: 2;
}

.navbar h1{
    padding: 10px;
    margin-left: 30px;
    font-size: 2rem;
}

.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option a{
    padding: 10px;
    margin: 15px;
    transition: 0.5s;
}

.hamburger{
    display: none;
    cursor: pointer;
    width: 100px;
    height: auto;
    margin: 10px;
}

.bar{
    display: block;
    width: 35px;
    height: 3px;
    margin: 10px auto;
    background-color: white;
    -webkit-transition: all 0.3s ease-in-out;
}

.container{
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #D6E4E5;
    border-radius: 20px;
}

.home{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 30px;
    font-size: 50px;
    min-height: 85vh;
}

.home h1 h2{
    margin: 50px 80px 50px 80px;
    padding: 50px;
}

.desc{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home img{
    width: 50%;
    height: 50%;
    margin: 50px;
    transform: rotate(-15deg);
}

.content{
    background-color: #256D85;
    padding:50px;
    text-align: center;
    font-size: 20px;
    min-height: 98vh;
    box-sizing: border-box;
}

.content h1{
    margin-bottom: 70px;
    font-size: 50px;
}

.content form {
    text-align: left;
    width: 80%;
}

a:active, a:visited, a:link{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
}

.wrapper{
    background-color: #06283D;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    color: white;
    box-sizing: border-box;
    text-align: center;
    min-width: 300px;
    box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.49);
    margin: 20px;
}

input, select{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border:none;
    background:none;
    outline:none;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 30px;
    color: white;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: white;
    cursor:pointer;
    width: 100%;
    color: #000;
}

.box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.history{
    color : white;
    background-color: #06283D;
    width: 40%;
    min-height: 200px;
    border: 2px solid black;
    margin: 20px;
    border-radius: 5px;
    min-width: 300px;
    display: block;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.49);
    max-height: 438px;
    overflow:auto;
}

.total{
    background-color: #06283D;
    position: sticky;
    bottom: 0px;
    color: white;
    font-size: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.total h2{
    margin: 0px 10px;
}

.title{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
    padding: 20px;
    background-color: #06283D;
}

.select { 
    padding: 8px 12px;
    color:white;
    border: 1px solid white;
    cursor: pointer;
    appearance: none;
}

.select:focus, .select:hover{
    background-color: rgba(255, 255, 255, 0.822);
    color: #000;
}

.select option{
    background-color: #fff;
}

.item{
    background-color: white;
    width: 85%;
    border-radius: 10px;
    margin: 20px auto;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 30px;
    padding: 10px;
}

.tools{
    width: 30%;
}

.tools li{
    display: inline-block;
    margin: 10px 5px;
    width: 45px;
    height: 30px;
    background-color: peru;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    color : #fff;
    text-align: center;
}

.tools li.del{
    background-color: rgba(255, 5, 5, 0.945);
}

.tools li:hover{
    background-color: rgb(224, 167, 110);
}

li.del:hover{
    background-color: rgba(255, 68, 68, 0.839);
}

.data{
    text-align: left;
}

.overlay{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
}

.modal{
    min-width: 500px;
    padding: 10px;
    min-height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
    background-color: white;
    border-radius: 10px;
    z-index: 100;
    text-align: center;
}

.modal.update{
    min-width: 500px;
    min-height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
    background-color: white;
    border-radius: 10px;
    z-index: 100;
    text-align: left;
}

.modal h2{
    margin-top: 10px;
}

.modal button{
    margin: 20px;
    width: auto;
    background-color: peru;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    color : #fff;
    text-align: center;
    border: 0px;
}

.modal-btn{
    display: flex;
    justify-content: space-around;
}

#updateForm{
    margin: 20px 20px 0px 20px;
}

#updateForm input, #updateForm select{
    border: 1px solid black;
    color: black;
}

#confirm{
    background-color: #256D85;
}

#cancel{
    background-color: #8d8d8d;
}

.hidden{
    display: none;
}